.container {
  display: flex;
  flex-flow: column;

  padding: 10px;
  @media (min-width: 650px) {
    justify-content: space-between;
    flex-flow: row;
  }
  .figure_container {
    margin: 0;
    text-align: justify;
    figcaption {
      padding-top: 10px;
      font-family: 'GillSansWGL';
      font-size: 13px;
      line-height: 17px;
    }
  }
  .img_container {
    box-sizing: border-box;
    overflow: hidden;
    height: calc(0.75 * 100vw - 20px); // 4:3 ratio height - container padding
    max-height: 420px;
    width: 100%;
    // object-fit: cover;
    border: 1px solid black;

    img {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      object-fit: cover;
    }

    @media (min-width: 650px) {
      width: 60%;
      height: auto;
    }
  }
  .intro {
    margin-top: 10px;
    font-size: 1.3em;
    text-align: justify;

    @media (min-width: 650px) {
      width: 37%;
      margin-right: 5px;
    }
  }
}
