.project-label {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
}

.project-label span {
    font-size: 15px;
}

.image {
    border: 1px solid black;
    width: 99%;
}

.project-title {
    margin-bottom: 0;
}

.project-summary {
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: black 1px solid;
    text-align: justify;
    font-size: 1em;
}

.strong {
 font-weight: bold;
}

@media (min-width: 900px) {

    .project-first, 
    .project-second, 
    .project-third {
        padding: 20px;
        flex: 1;
    }
    .project-second {
        border-left: black 1px solid;
        border-right: black 1px solid;
        width: 100%;
    }

    .project-label {
        background: linear-gradient(90deg, rgb(177, 177, 177) 35%, rgba(248,248,248,1) 100%);
        font-size: 1.4em;
        text-align: left;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }
    
    .project-label-span {
        font-size: 1.1em;
    }

    .project-summary {
        border: none;
    }

}