.App {
  /* text-align: center;
  box-sizing: border-box; */
  background: #F8F8F8;
}
.fixedTop {
  top: 0;
  padding: 30px;
  width: 95vw;
  height: 10%;
  position: fixed;
  background-color: white;
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
}

.link {
  height: 50px;
}

.background {
  margin: 20px auto;
  width: 90vw;
  height: 90vh;
  background-image: url("images/stars.jpg");
  border: 1px black solid;
  border-radius: 20px;
}

/* @media (min-width: 768px) .container {
  width: calc((100% + 20px) / 5 * 4 + -25px);
  height: 130px;
} */
