.App {
  text-align: center;
}

/* .App-header {
  background-color: #505050;
  opacity: 0.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.background {
  margin: 20px auto;
  width: 90vw;
  height: 90vh;
  background-image: url('images/stars.jpg');
  border: 1px black solid;
  border-radius: 20px;
  /* background-image: url('images/mexity.jpeg'); */
  /* background-color: rgb(223, 220, 218);color: #505050; */
  /* margin-top: 20px; */
  /* margin-left: calc(50% - 930px);  */
}

.bg{
  overflow: hidden;
}