
.timesHeader {
    padding-top: 10px;
    background-color: #f8f8f8;
    width: 96%;
    display: flex;
    flex-flow: column;
    position: fixed;
    z-index: 1;
    top: 0;
}

.email {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  border: none;
  background-color: #f8f8f8;
}

.timesHeader div {
  display: flex;
  justify-content: space-between;
}

.timesHeader-box {
  border: black 1px solid;
  width: 20%;
  font-style: italic;
  padding: 10px;
}

.timesHeader div div p {
  margin: auto;
  font-size: 1.2em;
}

.logo {
  height: auto;
  width: 40%;
  margin: 10px auto;
  border: none;
}

.highlight {
  border-top: black 2px solid;
  border-bottom: black 1px solid;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
