.timesHeader {
  padding-top: 10px;
  background-color: #f8f8f8;
  width: 96%;
  /* height: 100px; */
  /* display: flex; */
  /* flex-flow: column; */
  position: fixed;
  z-index: 1;
  top: 0;
}

.timesHeader-box {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.logo {
  width: 80%;
  margin: 10px auto;
  max-width: 250px;
}

.timesHeader-box p {
  font-size: 1em;
  font-weight: bold;
  margin: 0 5%;
}

.links {
  border-top: black 1px solid;
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 0;
  font-size: 1.2em;
}

.title {
  font-size: 1.1em;
}

/* .email {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  background-color: #f8f8f8;
} */

.today {
  border-top: black 1px solid;
  border-bottom: black 2.5px solid;
  font-style: italic;
  height: 20px;
  padding: auto;
  background-color: #f8f8f8;
}

.today h4 {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.utc-time {
  margin: 0;
  display: inline;
}

@media (min-width: 700px) {
  .timesHeader {
    width: 90%;
    height: 130px;
  }


  .timesHeader-top {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 100%;
  }

  .timesHeader-box {
    border: black 1px solid;
    padding: auto 20%;
    margin: auto;
    height: 100px;
    max-width: 250px;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    flex-flow: column;
    justify-content: space-around;
    flex: 1;
  }

  .logo {
    max-width: 400px;
    flex: 3;
  }
}
