.timesHeader {
  padding-top: 10px;
  background-color: #f8f8f8;
  width: 96%;
  /* height: 100px; */
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 1;
  top: 0;
}

.timesHeader-top {
  display: flex;
  justify-content: space-between;
}

.timesHeader-box {
  border: black 1px solid;
  font-style: italic;
  padding: auto 20%;
  text-align: center;
  flex: 1;
}

.logo {
  border: none;
  flex: 2;
  /* height: 100%; */

  /* width: 30%; */
}

.logo img {
  margin: auto;
}

.timesHeader-box p {
  margin: auto;
  font-size: 1em;
  font-weight: bold;
}

/* .email {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  background-color: #f8f8f8;
} */

.weather {
  border-top: black 1px solid;
  border-bottom: black 2.5px solid;
  font-style: italic;
  height: 20px;
  padding: auto;
  background-color: #f8f8f8;
}

.weather h4 {
  margin: 0;
  text-align: center;
}

@media (min-width: 900px) {
  .timesHeader {
    width: 90%;
  }

  .timesHeader-top {
    background-color: #f8f8f8;
    height: 100%;
  }

  .timesHeader-box {
    height: 100px;
  }

  .timesHeader-box p {
    font-size: 1.3em;
  }
  
  /* .logo {
    margin: 0;
    padding: 0;
  } */

  .logo img {
    max-height: 100px;

  }
}
