.timesbg {
  background-color: #f8f8f8;
  margin: 0;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-flow: column;
}

a,
a:visited {
  color: black;
  /* text-decoration-line: none; */
  font-size: 1.2em;
}

.timesBody {
  display: flex;
  flex-flow: column;
  margin-top: 165px;
}

.timesProfile {
  display: flex;
  flex-flow: column;
}

.timesProfile img {
  position: relative;
  width: 99%;
  height: auto;
  margin: 5px auto;
  border: black solid 1px;
}

.profile-summary {
  text-align: justify;
  margin: 5px;
  font-size: 20px;
  padding: 10px 5px;
}

.the-first {
  font-size: 25px;
  font-weight: bold;
}

.image {
  filter: grayscale(100%);
  border: 1px solid black;
  width: 99%;
}

.skills {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  margin: 5px;
  border: 1px solid black;
}

.timesProject {
  display: flex;
  flex-flow: column;
  margin: 5px;
}

.underline {
  text-decoration-line: underline;
}

@media (min-width: 700px) {

  .timesbg {
    padding: 5%;
  }

  .timesBody {
    display: flex;
    flex-flow: row;
    margin-top: 130px;
  }
  
  .timesProfile {
    flex: 3;
    padding-right: 20px;
  }
  
  .body-right {
    flex: 2;
    display: flex;
    flex-flow: column;
  }
  
  .profile-summary {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    margin: 5px;
    text-align: justify;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
  }
  
  .profile-summary-p {
    width: 47%;
    
  }
  
  .skills {
    margin: 5px 5%px;
    padding: 20px 20px;
    font-size: 1.5em;
    border: 2px solid black;
    line-height: 50px;
  }

  .activities {
    text-align: center;
    margin: 0 5%;
  }

  .timesProject {
    flex-flow: row;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .skills {
    font-size: 2em;
  }
  .timesBody {
    margin-top: 125px;
  }
}

@media (min-width: 1200px) {
  
  .timesBody {
      margin-top: 105px;
    }

}