.timesbg {
  background-color: #f8f8f8;
  margin: 0;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a,
a:visited {
  color: black;
  text-decoration-line: none;
  font-size: 1.2em;
}

.highlight label a {
  margin: 0 5px;
}

.timesBody {
  display: flex;
  flex-flow: column;
  margin-top: 120px;
}

.timesProfile {
  display: flex;
  flex-flow: column;
}

.timesProfile img {
  position: relative;
  width: 99%;
  height: auto;
  margin: 5px auto;
  border: black solid 1px;
}

img {
  filter: grayscale(100%);
}

.skills {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.timesProject {
  display: flex;
  flex-flow: column;
  /* padding: 20px; */
  /* border-left: black solid 1px; */
  margin: 5px;
}

@media (min-width: 900px) {
  .timesbg {
    padding: 5%;
  }
  .timesBody {
    display: flex;
    flex-flow: row;
    margin-top: 105px;
  }

  .skills {
    margin: 30 10 0 10;
    padding: 20 10;
    width: 25%;
    font-size: 1.5em;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex: 1;
  }

  .timesProfile {
    flex: 4;
  }

  .timesProject {
    flex: 2;
  }

}
